* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heading {
  font-size: 30px;
  text-align: center;
  color: #fbca1b;
}

.can_2 {
  display: flex;
}

.can {
  border: 1px white solid;
  background-color: #98efed;
  width: 300px;
  color: #6a9cfd;
}

.can_para {
  border: 1px white solid;
  background-color: #f1e7b0;
  width: 300px;
  height: 30px;
  color: #f15bb5;
}

.inputLabel {
  border: 1px #9cccdc solid;
  width: 200px;
  padding: 5px;
}

.labelOne {
  font-size: 20px;
  font-family: 'Roboto';
  color: #17363f;
  font-weight: bold;
  text-decoration: underline;
}

.ppp {
  font-size: 15px;
  padding: 5px;
  color: green;
}

.line {
  font-size: 15px;
  font-family: 'Roboto';
}

.button {
  height: 30px;
  width: 70px;
  border-radius: 2px;
  border-width: 0px;
  background-color: blue;
  color: white;
}

.employee {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
  width: 400px;
}

.can_1 {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.para {
  font-family: 'Roboto';
  font-size: 14px;
  text-align: center;
  font-weight: 410;
}

.dis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120vh;
  background-size: cover;
}

.button-div {
  display: flex;
  justify-content: center;
}
